
#display-area{
    position: relative;
    height: 300px;
    margin: 0.5rem 0;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid black;
}
.block-container{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rectangle{
    width: 20px;
}